/* h3{ color: chocolate;
    color: chocolate
    
    }
    
    #logo-img{
        width: 30px;
    }
     h1 {
        color: black;
    }
    header{
        background-color:chocolate;
    }
    footer{
        background-color:chocolate;
    }
    
    header{
        color: brown;
        margin: 30px;
        margin-bottom: 10px;
    
       
    }
    div{
        color: black;
        margin: 20px;
        margin-right: 20px;
        margin-left: 20px;
    }
    ul{
        display: flex;
    }
    ul{
        gap: 25px;
    } */